html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-size: 62.5%;
  /* == font-size: 10px;
  == font-size: 1rem; */

  /* by default font size is 16px; */
  /* we wanna make by default to be 10px; */
  /* font-size: 100% = 16px */
  /* 1px  = 6.25% */
  /* 10px = 62.5% */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 769px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 35%;
  }
}
